<h1>My First Attribute Directive</h1>

<h4>Pick a highlight color</h4>
<div>
    <input type="radio" name="colors" (click)="color='lightgreen'">Green
    <input type="radio" name="colors" (click)="color='yellow'">Yellow
    <input type="radio" name="colors" (click)="color='cyan'">Cyan
</div>
<p appHighlight>默认是红色</p>
<p appHighlight highlightColor="{{color}}">Change color according above radio selection 1</p>
<p appHighlight [highlightColor]="color">Change color according above radio selection 2</p>
<p appHighlight defaultColor="blue">Highlight me too!</p>
<p [appHighlight]="'purple'">Special Color set</p>