<h2>{{hero.name | lowercase}} Details</h2>
<!-- 管道 是格式化字符串、金额、日期和其它显示数据的好办法, 相当与 JSP 的 fmt -->
<div><span>id: </span>{{hero.id}}</div>
<div><span>name: </span>{{hero.name}}</div>
<div>
    <label>name:
      <input [(ngModel)]="hero.name" placeholder="name" />
    </label>
</div>

<h2>My Heroes</h2>
<ul class="heroes">
    <li *ngFor="let hero of heroes" (click)="onSelect(hero)" [class.selected]="hero === userSelectedHero">
        <span class="badge">{{hero.id}}</span> {{hero.name}}
    </li>
</ul>

<app-hero-detail bind-hero="userSelectedHero"></app-hero-detail>
<!-- 此处， bind-hero也可以，但是最好使用 [hero] -->